.siteHeader {
  background-color: rebeccapurple;
  margin-bottom: 1.45rem;
}

.siteHeader h1 {
  margin: 0 auto;
  max-width: 960px;
  min-width: 320px;
  padding: 1rem 1.0875rem;
}

.myPrinciples {
  list-style-type: lower-greek;
}

.siteNavBar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.siteNavBar li {
  margin: 0 0.5rem;
  cursor: pointer;
}

.myPic {
  width: 200px;
  float: left;
  margin: 0 1rem 0 0;
  border-radius: 20px;
}