.siteNavBar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.siteNavBar li {
  margin: 0 0.5rem;
  cursor: pointer;
}

.myPic {
  width: 200px;
  float: left;
  margin: 0 1rem 0 0;
  border-radius: 20px;
}